<!DOCTYPE html>
<html>
<head>
<title>Admin Initial Page</title>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="../css/frameProps.css" />
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Inter&display=swap">
<script>
	$(document).ready(function(){
		var func = "AdminHome";
		var obj = {
			"name":func
			};
		var json = JSON.stringify(obj);
		$.ajax ({
			url : "../myServlet",
			type:"POST",
			asynch:"true",
			data: json,
			success: function(responce){
				var json = JSON.parse(responce);
				$(".created").remove();
				for(key in json){
					let obj = json[key];
					reqId = obj.requestId;
					custId = obj.customerId;
					accNo = obj.accountNo;
					amount = obj.amount;
					time = obj.reqTime;
					status = obj.reqStatus;
					$("#tblBody").append(
							"<tr class='created'>"								
							+"<td data-label='Request ID'>"+reqId+"</td>"
							+"<td data-label='Customer ID'>"+custId+"</td>"
							+"<td data-label='Account No'>"+accNo+"</td>"
							+"<td data-label='Amount'>"+amount+"</td>"
							+"<td data-label='Request Time'>"+time+"</td>"
							+"<td data-label='Status'>"+status+"</td>"
							+"</tr>"
					);
				}
			},
			error: function(){
				
			}
		});
	});
</script>
</head>
<body>
	<div>
		<h4>Pending Withdrawal Requests</h4>
		<section>
			<div>
				<div id="transacTable" class="table table-responsive col-lg-6 mt-4">
					<table
						class="table table-striped table-light table-hover table-borderless">
						<thead>
							<tr>
								<th>Request ID</th>
								<th>Customer ID</th>
								<th>Account No</th>
								<th>Amount</th>
								<th>Request Time</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody id="tblBody">
						</tbody>
					</table>
				</div>
			</div>
		</section>
	</div>
</body>
</html>