<!DOCTYPE html>
<html>
<head>
<title>Password Change</title>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="../css/frameProps.css" />
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Inter&display=swap">
<script>
	$(document).ready(function(){
		var func = "Password Change";
		var obj = {
			"name":func
			};
		var json = JSON.stringify(obj);
		$.ajax ({
			url : "../myServlet",
			type:"POST",
			asynch:"true",
			data: json,
			success: function(responce){
				
			},
			error: function(){
				
			}
		});
		$("[name='passChange']").click(function(){
			var oldPass = $("[name='oldPass']").val();
			var newPass = $("[name='newPass']").val();
			var accObj = {
					"oldPass":oldPass,
					"newPass":newPass,
					"name":"Change Password"
					};
			var json = JSON.stringify(accObj);
			$.ajax ({
				url : "../myServlet",
				type:"POST",
				asynch:"true",
				data: json,
				success: function(responce){
					var json = JSON.parse(responce);
					if(json.error != undefined){
						$("#error").show();
						$("#success").hide();
						$("#error").text(json.error);
					} else if (json.success != undefined) {
						$("#error").hide();
						$("#success").show();
						$("#success").text(json.success);
						console.log("Password Changed.");
					}
				},
				error: function(){
					
				}
			});
		});
		$("#reset").click(function(){
			$("[name='oldPass']").val("");
			$("[name='newPass']").val("");
		});
	});
</script>
</head>
<body>
	<div>
		<h4>Password Change</h4>
		<section>
			<div class="container mx-auto my-auto mt-4">
				<div class="card border-0 shadow rounded-3" id="smallCard">
					<div class="card-body">
							<div>
								<label id="mediumLabel">Old Password : </label> <input
									id="underline" type="text" name="oldPass"
									placeholder="Old Password" required></input>
							</div>
							<div>
								<label id="mediumLabel">New Password : </label> <input
									id="underline" type="text" name="newPass"
									placeholder="New Password" required></input>
							</div>
							<div class="text-centre mt-3">
								<button id="mdLabelBtn" class="btn btn-outline-success btn-sm"
									type="submit" value="Change Password" name="passChange">Change</button>
								<button class="btn btn-outline-primary btn-sm ms-2" id="reset" type="reset">Reset</button>
							</div>
							<br>
							<div>
								<span id="success" class="text-success"></span> 
								<span id="error" class="text-danger"></span>
							</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
</html>